/* b-radius */
.b-radius{
    border-radius: 15px;
}

/*custom col*/
.col-feature{
    width:100%;
}

/*col left and right*/
.col-left{
    width: 100%;
}

.col-right{
    width: 100%;
}

/* col numbered */
.col-numbered{
    width: 100%;
}

/*col text and img abut us section*/
.col-text{
    width: 100%;
}

/*-------------feature card---------*/

/*icon-container*/
.icon-container i {
    font-size: 4.5rem;
}

.l-height{
    line-height: 1.5rem;
}


.col-feature{
    padding: 3rem;
}

.text-feature h2{
    color: #0084FD;
    margin: 1.5rem;

}

.text-feature p{
    line-height: 2rem;
    font-weight: 400;
}


/*-------strategic planning------- */

.img-container img{
    width: 100%;
}

.text-planning h2{
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.text-planning p{
    line-height: 2rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

.white-card{
   padding: 2rem; 
}

.text-card-planning h2{
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.text-card-planning p{
    line-height: 2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.circle{
    width: 30px;
    height: 30px;
    /* padding: 1rem; */
    border-radius: 18px;
    background-color: #9792E4;
}

/*--------testimonials--------*/
.text-testimonial h2{
    color: #9792E4;
    margin: 1.5rem;

}

.profile-container1 {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto; 
    background-image: url("../img/testimonial1.jpg"); 
    background-size: cover; 
    background-position: center; 
}
.profile-container2 {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto; 
    background-image: url("../img/testimonial2.jpg"); 
    background-size: cover; 
    background-position: center; 
}
.profile-container3 {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto; 
    background-image: url("../img/testimonial3.jpg"); 
    background-size: cover; 
    background-position: center; 
}

.testimonial-card{
    padding: 3rem;
}

.testimonial-card h3{
    margin-top: 1rem;
}

.testimonial-card p{
    line-height: 2rem;
}






/*logo size and hamburger menu size*/


