/*custom col*/
.col-feature{
    width:100%;
}

.f-grow-2{
    flex-grow: 2;
}

/*col left and right*/
.col-left{
    width: 100%;
}

.col-right{
    width: 100%;
}

/* col numbered */
.col-numbered{
    width: 100%;
}

/*col text and img abut us section*/
.col-text{
    width: 100%;
}

.col-img{
    width: 100%;
}