/* mediaqueries */
/* mobile 
@media screen and(min-width: 480px){

}
*/
/* tablet */
@media screen and (min-width: 768px){
    /*explanation of the service (first section)*/

    .container .row .col-feature {
        width: calc(100% / 3 - 15px); 
    }

    .container .row .col-feature:first-child {
        width: calc((66.666% - 15px));
    }

    /* strategic planning */
    /*--------------------*/

    /*testimonials*/
    .container .testimonial-card{
        display: flex;
    }

    /* benefits of working with us */
    .container .row .col-numbered{
        width: calc(100% / 2 - 15px);
    }

    /* about us */
    .container .row .col-text, .col-img{
        width: 50%;
    }

}

/* dekstop */
@media screen and (min-width: 1024px){
     /* strategic planning */
     .container-sm .row{
        align-items: flex-end;
     }
     .container-sm .row .col-left, .col-right{
        width: 50%;
     }
}