*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility classes*/
/*layout class*/
.col-20{
    width: 20%;
}
.col-25{
    width: calc(25% - 2px);
}
.col-30{
    width: 30%;
}
.col-m-33{
    width: calc(100% / 3 - 9px);
}
.col-33{
    width: calc(100% / 3);
}
.col-40{
    width: calc(40% - 2px);
}
.col-50{
    width: 50%;
}
.col-60{
    width: calc(60% - 2px);
}
.col-70{
    width: calc(70% - 2px);
}
.col-75{
    width: 75%;
}
.col-80{
    width: calc(80% - 2px);
}
.col-90{
    width: calc(90% - 2px);
}
.col-100{
    width: 100%;
}


/*height class*/
.height-xl {
    height: 500px;
}

.height-l {
    height: 300px;
}

.height-m {
    height: 100px;
}

.height-sm {
    height: 30px;
}

.width-xl {
    width: 500px;
}

.width-l {
    width: 300px;
}

.width-m {
    width: 100px;
}

.width-sm {
    width: 30px;
}